.blog-nav__list {
    list-style: none;
    margin: 0;
    display: flex;
}

.blog-nav__link {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #7E7E82;
    background-color: #F8F8F8;
    padding: 8px 16px;
    background-color: unset;
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
}

.blog-nav__list {
    overflow-x: scroll;
    white-space: nowrap;
    margin-bottom: 24px;
    padding: 0;
}
    
.blog-nav__list::-webkit-scrollbar {
    display: none;
}
    
.blog-nav__link:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    outline: none;
    background-color: #FFFFFF;
}


@media (min-width: 1120px) {

    .blog-nav__list {
        flex-wrap: wrap;
        padding: 0 25px 16px 34px;
    }
}