.brend-header {
    margin-bottom: 16px;
}

.brend-header__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #7E7E82;
    text-transform: uppercase;
    margin: 0;
}

.swiper-slide__img {
    max-width: 108px;
    max-height: 52px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto 0 auto 16px;
}

.swiper-slide__go {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 16px;
    margin-left: auto;
}

.brend-slide {
    margin-top: 0 !important;
    margin-right: 0 !important;
    width: 240px !important;
    height: 72px !important;
    padding: 0 16px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
}

@media (max-width: 767px) {

    .opening-button {
        display: none;
    }

    .brend::after {
        content: '';
        z-index: 100;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
        position: absolute;
        top: 90px;
        right: -6px;
        width: 24px;
        height: 81px; 
    }

    .blog-small__block {
        display: flex;
        gap: 16px;
        margin: 0;
        padding-left: 15px;
    }

    .brend-slide {
        width: 240px !important;
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    .swiper-pagination-bullet {
        width: 12px !important;
        height: 12px !important;
        background-color: #DDDDDD !important;

    }

    .swiper-pagination-bullet-active {
        background-color: #B5B6BC !important;
    }
}

@media (min-width: 768px) {

    .swiper-horizontal>.swiper-pagination-bullets, 
    .swiper-pagination-bullets.swiper-pagination-horizontal {
        display: none;
    }

    .inactive {
        display: none;
    }

    .brend-wrapper {
        flex-wrap: wrap !important;
        gap: 16px 24px;
        margin: 0 auto 24px;
        padding: 0 24px;
        width: 768px;
    }

    .title2 {
        padding: 16px 24px;
    }

    .brend-slide {
        width: 224px !important;
        height: 72px !important;
        border-radius: 6px;
        border: 1px solid #EAEAEA;
        background: #FFF;
        padding: 0 16px;
    }

    .opening-button {
        margin-left: 24px;
    }

    .open-btn {
        font-family: "TT Lakes";
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.02em;
        background: none;
        border: none;
        text-align: left;
        position: relative;
        padding-left: 25px;
    }
    
    .open-btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        background-image: url('../img/expand.svg');
        transition: transform 0.3s ease;
    }
    
      .open-btn.rotate {
        transform: rotate(180deg);
    }
}

@media (min-width: 1120px) {

    .brend {
        padding: 0 32px;
    }

    .inactive768.inactive {
        display: block;
    }

    .inactive {
        display: none;
    }

    .title2 {
        padding: 16px 0;
    }

    .brend-wrapper {
        flex-wrap: wrap !important;
        gap: 16px 32px;
        margin-bottom: 24px;
        width: 1100px;
    }

    .opening-button {
        padding-left: 32px;
    }
}